<mat-toolbar color="primary">Candidate Profile Information</mat-toolbar>
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper linear #stepper>


  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>

      <mat-card>
        <table class="example-full-width" cellspacing="2">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </tr>
        </table>


        ---
        <mat-form-field class="example-full-width">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+1 &nbsp;</span>
          <input type="tel" matInput placeholder="555-555-1234">
        </mat-form-field>

        ---





        ---

        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address" formControlName="firstCtrl" required>
        </mat-form-field>




        <mat-form-field class="example-full-width">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="+1" formControlName="firstCtrl" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Title at Work</mat-label>
          <input matInput placeholder="Software Engineer" formControlName="firstCtrl" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Company</mat-label>
          <input matInput placeholder="Apple" formControlName="firstCtrl" required>
        </mat-form-field>

      </mat-card>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">


  </mat-step>

</mat-horizontal-stepper>
