<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
    <p>Here is the detail of the position?</p>
        <div (ngModel) = "data" >
            <p>{{data.jobTitle}}</p>
            <p>{{data.jobType}}</p>
            <p>{{data.location}}</p>
            <p>{{data.industryType}}</p>
            <p>{{data.jobDescription}}</p>
        </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>