<!--<mat-accordion> 
    <mat-expansion-panel *ngFor = "let jobapp of jobapps"> 
        <mat-expansion-panel-header>
            Review
        </mat-expansion-panel-header>
        <p>{{ jobapp.firstName }}</p>
        <p>{{ jobapp.lastName }}</p>
        <p>{{ jobapp.telephone }}</p>
        <p>{{ jobapp.email }}</p>
        <p>{{ jobapp.address }}</p>
        <p>{{ jobapp.address2 }}</p>
        <p>{{ jobapp.city }}</p>
        <p>{{ jobapp.state }}</p>
        <p>{{ jobapp.zipcode }}</p>

        <p>{{ jobapp.job }}</p>
        <p>{{ jobapp.company }}</p>
        <p>{{ jobapp.location }}</p>
        <p>{{ jobapp.fromDate }}</p>
        <p>{{ jobapp.toDate }}</p>
        <p>{{ jobapp.role }}</p>

      <!-- <p>{{ jobapp.job2 }}</p>
        <p>{{ jobapp.company2 }}</p>
        <p>{{ jobapp.location2 }}</p>
        <p>{{ jobapp.fromDate2 }}</p>
        <p>{{ jobapp.toDate2 }}</p>
        <p>{{ jobapp.role2 }}</p> -->

  <!--      <p>{{ jobapp.schoolname }}</p>
        <p>{{ jobapp.educationlevel }}</p>
        <p>{{ jobapp.startdate }}</p>
        <p>{{ jobapp.enddate }}</p>
        <p>{{ jobapp.major }}</p>
        <p>{{ jobapp.cumulativegpa }}</p>
        <p>{{ jobapp.skills }}</p>
        <p>{{ jobapp.accomplishments }}</p> 

        <p>{{ jobapp.sponsership }}</p>
        <p>{{ jobapp.acknowledgment }}</p>
        <p>{{ jobapp.gender }}</p>
        <p>{{ jobapp.hispanic }}</p>
        <p>{{ jobapp.veteran }}</p>
        <p>{{ jobapp.disability }}</p> 

    </mat-expansion-panel>
</mat-accordion>-->


     