<div class="eaton mat-typography" style="overflow-x:hidden;" fxFlexFill cdkScrollable>
  <mat-toolbar color="primary" class="main-header mat-elevation-z4" [class.hidden]="toggleSearch">
   <mat-toolbar-row >
     <span><h1>Job Solutions</h1></span>
     <span class="example-spacer"></span>
   <div>

       <a mat-button [routerLink]=""> Jobs </a>
       <a mat-button [routerLink]=""> Employers </a>
       <button mat-button [matMenuTriggerFor]="menu">My Profile</button>
       <mat-menu #menu="matMenu">
         <button mat-menu-item>Profile</button>
         <button mat-menu-item>Applications</button>
         <button mat-menu-item>MyFav Jobs</button>
       </mat-menu>

     </div>
   </mat-toolbar-row>

   <mat-toolbar-row style="padding: 0 5px;">
     <span><h2>Job Application</h2></span>
   </mat-toolbar-row>
 </mat-toolbar>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Personal Information</ng-template>
      <div class="example-container">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last name" formControlName="firstCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>Telephone</mat-label>
        <input matInput placeholder="Telephone" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="firstCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="firstCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>Address 2</mat-label>
        <input matInput placeholder="Address 2" formControlName="firstCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput placeholder="city" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field>
        <mat-label>State</mat-label>
        <input matInput placeholder="State" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field>
        <mat-label>ZipCode</mat-label>
        <input matInput placeholder="ZipCode" formControlName="firstCtrl" required>
        </mat-form-field>

        </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Work Experience</ng-template>
      <div class="example-container">
      <mat-form-field>
        <mat-label>Job Title</mat-label>
        <input matInput placeholder="Job Title" formControlName="secondCtrl" required>
        </mat-form-field>
        <mat-form-field>
        <mat-label>Company</mat-label>
        <input matInput placeholder="Company" formControlName="secondCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput placeholder="Location" formControlName="secondCtrl" required>
        </mat-form-field>
        <mat-form-field>
        <mat-label>From Date</mat-label>
        <input matInput placeholder="From Date" formControlName="secondCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>To Date</mat-label>
        <input matInput placeholder="To Date" formControlName="secondCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>Role Description</mat-label>
        <input matInput placeholder="Role Description" formControlName="secondCtrl" required>
        </mat-form-field>

        </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Education</ng-template>
      <div class="example-container">
      <mat-form-field>
        <mat-label>School Name</mat-label>
        <input matInput placeholder="School Name" formControlName="thirdCtrl" required>
        </mat-form-field>
        <mat-form-field>
        <mat-label>Education level</mat-label>
        <input matInput placeholder="Education level" formControlName="thirdCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput placeholder="Start Date" formControlName="thirdCtrl" required>
        </mat-form-field>
        <mat-form-field>
        <mat-label>End Date</mat-label>
        <input matInput placeholder="End Date" formControlName="thirdCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>Major</mat-label>
        <input matInput placeholder="Major" formControlName="thirdCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>Cumulative GPA</mat-label>
        <input matInput placeholder="Cumulative GPA" formControlName="thirdCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>Skills</mat-label>
        <input matInput placeholder="Skills" formControlName="thirdCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>Accomplishments</mat-label>
        <input matInput placeholder="Accomplishments" formControlName="thirdCtrl" required>
        </mat-form-field>

        </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Application Questions</ng-template>
      <div class="example-container">
      <mat-form-field>
        <mat-label>Do you now, or will you at any point in the future, require visa sponsorship in order to work in the U.S.? *</mat-label>
        <input matInput placeholder="Yes/No" formControlName="fourthCtrl" required>
        </mat-form-field>

        <p>PLEASE READ BEFORE SUBMITTING *

          I certify that the facts set forth in my application for employment have been given by me personally and are true and complete.
          False statements, answers or omissions on this application shall be sufficient cause for non-consideration of employment, or may
          result in termination if I have been employed. I agree that Wellsky shall not be liable in any respect if my application is disqualified
          or my employment terminated because of misrepresentations, omissions, or false statements or answers by me either verbally, in writing,
          or on this application.

          I also recognize that my employment is based on receipt of satisfactory information from former employers and references, and upon my
          ability to perform the essential functions with or without reasonable accommodations for the position for which I am applying.

          I herein authorize Wellsky or a third party to investigate without liability the information supplied in this application including
          employment references, Office of Inspector General (OIG) list, licensure/registration/certification, academic, police, and government
          records. I also authorize the employers, references, and schools, without liability, to provide any information regarding my employment
          character and qualifications upon Wellsky's request.
        </p>

        <mat-form-field>
        <mat-label>* I have carefully read the above Information Acknowledgement and I understand and agree to all of the statements.</mat-label>
        <input matInput placeholder="Yes/No" formControlName="fourthCtrl" required>
        </mat-form-field>
        <br>
        <p>
        U.S. Equal Opportunity Employment Information (Completion is voluntary)

        Individuals seeking employment at WellSky are considered without regards to race, color, religion, national origin, age, sex, marital status,
        ancestry, physical or mental disability, veteran status, gender identity, or sexual orientation. You are being given the opportunity to provide
        the following information in order to help us comply with federal and state Equal Employment Opportunity/Affirmative Action record keeping,
        reporting, and other legal requirements.

        Completion of the form is entirely voluntary. Whatever your decision, it will not be considered in the hiring process or thereafter.
        Any information that you do provide will be recorded and maintained in a confidential file.
      </p>

        <mat-form-field>
        <mat-label>Gender</mat-label>
        <input matInput placeholder="" formControlName="fourthCtrl" required>
        </mat-form-field>
        <mat-form-field>
        <mat-label>Are you Hispanic/Latino?   </mat-label>
        <input matInput placeholder="" formControlName="fourthCtrl" required>
        </mat-form-field>
        <br>

          <p>
            If you believe you belong to any of the categories of protected veterans listed below, please indicate by making the appropriate selection.
            As a government contractor subject to Vietnam Era Veterans Readjustment Assistance Act (VEVRAA), we request this information in order to
            measure the effectiveness of the outreach and positive recruitment efforts we undertake pursuant to VEVRAA. Classification of protected
            categories is as follows:

            A "disabled veteran" is one of the following: a veteran of the U.S. military, ground, naval or air service who is entitled to
            compensation (or who but for the receipt of military retired pay would be entitled to compensation) under laws administered by the
            Secretary of Veterans Affairs; or a person who was discharged or released from active duty because of a service-connected disability.

            A "recently separated veteran" means any veteran during the three-year period beginning on the date of such veteran's discharge or
            release from active duty in the U.S. military, ground, naval, or air service.

            An "active duty wartime or campaign badge veteran" means a veteran who served on active duty in the U.S. military, ground, naval or
            air service during a war, or in a campaign or expedition for which a campaign badge has been authorized under the laws administered
            by the Department of Defense.

            An "Armed forces service medal veteran" means a veteran who, while serving on active duty in the U.S. military, ground, naval or air
            service, participated in a United States military operation for which an Armed Forces service medal was awarded pursuant to Executive
            Order 12985.
          </p>

        <mat-form-field>
        <mat-label>Veteran Status</mat-label>
        <input matInput placeholder="" formControlName="fourthCtrl" required>
        </mat-form-field>
        <br>

          <p>
            Form CC-305
            OMB Control Number 1250-0005

            Voluntary Self-Identification of Disability

            Why are you being asked to complete this form?
            Because we do business with the government, we must reach out to, hire, and provide equal opportunity to qualified people with
            disabilities1. To help us measure how well we are doing, we are asking you to tell us if you have a disability or if you ever had a
            disability. Completing this form is voluntary, but we hope that you will choose to fill it out. If you are applying for a job, any
            answer you give will be kept private and will not be used against you in any way.

            If you already work for us, your answer will not be used against you in any way. Because a person may become disabled at any time, we
            are required to ask all of our employees to update their information every five years. You may voluntarily self-identify as having a
            disability on this form without fear of any punishment because you did not identify as having a disability earlier.

            How do I know if I have a disability?
            You are considered to have a disability if you have a physical or mental impairment or medical condition that substantially limits a
            major life activity, or if you have a history or record of such an impairment or medical condition.

            Disabilities include, but are not limited to:

            Blindness
            Deafness
            Cancer
            Diabetes
            Epilepsy
            Autism
            Cerebral palsy
            HIV/AIDS
            Schizophrenia
            Muscular dystrophy
            Bipolar disorder
            Major depression
            Multiple sclerosis (MS)
            Missing limbs or partially missing limbs
            Post-traumatic stress disorder (PTSD)
            Obsessive compulsive disorder
            Impairments requiring the use of a wheelchair
            Intellectual disability (previously called mental retardation)
          </p>

          <mat-form-field>
        <mat-label>Disability Status</mat-label>
        <input matInput placeholder="" formControlName="fourthCtrl" required>
        </mat-form-field>

        </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

