.mat-stepper-horizontal {
  margin-top: 20px;
}

.mat-form-field + .mat-form-field {
  margin-left: 18px;
}

.example-container{
  margin-top: 50px;
  width: 800px;
  height: 500px;
  margin: auto;
  background: #7ab5ecca;
  padding: 10px;
}


.example-button button{
  margin-right: 18px;
}


.example-form {
  width: 800px;
  height: 500px;
  max-width: 500px;
  width: 100%;
  max-height: 500px;
}

.example-full-width {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

td {
  padding-right: 8px;
}
