<div class="eaton mat-typography" style="overflow-x:hidden;" fxFlexFill cdkScrollable>
  <mat-toolbar color="primary" class="main-header mat-elevation-z4" [class.hidden]="toggleSearch">
   <mat-toolbar-row >
     <span><h1>Job Solutions</h1></span>
     <span class="example-spacer"></span>
   <div>

       <a mat-button [routerLink]=""> Jobs </a>
       <a mat-button [routerLink]=""> Employers </a>
       <button mat-button [matMenuTriggerFor]="menu">My Profile</button>
       <mat-menu #menu="matMenu">
         <button mat-menu-item>Profile</button>
         <button mat-menu-item>Applications</button>
         <button mat-menu-item>MyFav Jobs</button>
       </mat-menu>

     </div>
   </mat-toolbar-row>

   <mat-toolbar-row style="padding: 0 5px;">
     <span><h2>Job Application</h2></span>
   </mat-toolbar-row>
 </mat-toolbar>
 <br>
 <br>

<mat-horizontal-stepper labelPosition="bottom" linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Personal Information</ng-template>
      <br>
      <br>
      <div class="example-container">
        <table class="example-full-width" cellspacing="0">

          <tr>
        <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" formControlName="firstCtrl" required>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last name" formControlName="firstCtrl" required>
        </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Telephone</mat-label>
        <input matInput placeholder="Telephone" formControlName="firstCtrl" required>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="firstCtrl" required>
        </mat-form-field></td>
      </tr>
      <tr>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="firstCtrl" required>
        </mat-form-field>
      </tr>

      <tr>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Address 2</mat-label>
        <input matInput placeholder="Address 2">
        </mat-form-field>
      </tr>

      <tr>
        <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>City</mat-label>
        <input matInput placeholder="city" formControlName="firstCtrl" required>
        </mat-form-field></td>

        <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>State</mat-label>
        <input matInput placeholder="State" formControlName="firstCtrl" required>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>ZipCode</mat-label>
        <input matInput placeholder="ZipCode" formControlName="firstCtrl" required>
        </mat-form-field></td>
      </tr>
      </table>

        </div>
      <div class = "example-button">
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Work Experience</ng-template>
      <br>
      <br>
      <div class="example-container">
        <table class="example-full-width" cellspacing="0">

          <tr>
        <td>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Job Title</mat-label>
        <input matInput placeholder="Job Title">
        </mat-form-field> </td>
        <td>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Company</mat-label>
        <input matInput placeholder="Company">
        </mat-form-field></td>
        </tr>
        <tr>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput placeholder="Location">
        </mat-form-field>
      </tr>

        <tr>
          <td>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>From Date</mat-label>
        <input matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field></td>
        <td>
        <mat-checkbox >Currently, I work here</mat-checkbox>
      </td>
        <td>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>To Date</mat-label>
        <input matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field></td>
      </tr>
      <tr>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Role Description</mat-label>
        <textarea matInput placeholder="Role Description" ></textarea>
        </mat-form-field>
      </tr>
      </table>
        </div>

        <div style="width: 1000px; margin: auto;" >
          <mat-accordion>
            <mat-expansion-panel style = "background: #e6f1fcca;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Add Work Experience
                </mat-panel-title>
              </mat-expansion-panel-header>

              <table class="example-full-width" cellspacing="0">

                <tr>
              <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Job Title</mat-label>
              <input matInput placeholder="Job Title">
              </mat-form-field> </td>
              <td>
              <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Company</mat-label>
              <input matInput placeholder="Company">
              </mat-form-field></td>
              </tr>
              <tr>
              <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Location</mat-label>
              <input matInput placeholder="Location">
              </mat-form-field>
            </tr>

              <tr>
                <td>
              <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>From Date</mat-label>
              <input matInput [matDatepicker]="picker10">
              <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
              <mat-datepicker #picker10></mat-datepicker>
              </mat-form-field></td>
              <td>
              <mat-checkbox >Currently, I work here</mat-checkbox>
            </td>
              <td>
              <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>To Date</mat-label>
              <input matInput [matDatepicker]="picker11">
              <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
              <mat-datepicker #picker11></mat-datepicker>
              </mat-form-field></td>
            </tr>
            <tr>
              <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Role Description</mat-label>
              <textarea matInput placeholder="Role Description" ></textarea>
              </mat-form-field>
            </tr>
            </table>
            <mat-accordion>
              <mat-expansion-panel style = "background: #e6f1fcca;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Add Work Experience
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <table class="example-full-width" cellspacing="0">

                  <tr>
                <td>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Job Title</mat-label>
                <input matInput placeholder="Job Title">
                </mat-form-field> </td>
                <td>
                <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Company</mat-label>
                <input matInput placeholder="Company">
                </mat-form-field></td>
                </tr>
                <tr>
                <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Location</mat-label>
                <input matInput placeholder="Location">
                </mat-form-field>
              </tr>

                <tr>
                  <td>
                <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="picker12">
                <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
                <mat-datepicker #picker12></mat-datepicker>
                </mat-form-field></td>
                <td>
                <mat-checkbox >Currently, I work here</mat-checkbox>
              </td>
                <td>
                <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="picker13">
                <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
                <mat-datepicker #picker13></mat-datepicker>
                </mat-form-field></td>
              </tr>
              <tr>
                <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Role Description</mat-label>
                <textarea matInput placeholder="Role Description" ></textarea>
                </mat-form-field>
              </tr>
              </table>
              </mat-expansion-panel>

            </mat-accordion>
            </mat-expansion-panel>

          </mat-accordion>
        </div>

     <div class = "example-button">
          <table style="margin-left:auto;margin-right:auto;">
            <tr>
              <td>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button></td>
        <td>
        <button mat-raised-button color="primary" matStepperNext>Next</button></td>
        </tr>
        </table>
      </div>

    </form>
  </mat-step>


  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Education</ng-template>
      <br>
      <br>
      <div class="example-container">
        <table class="example-full-width" cellspacing="0">
          <tr>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>School Name</mat-label>
        <input matInput placeholder="School Name" formControlName="thirdCtrl" required>
        </mat-form-field></tr>
        <tr>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Education level</mat-label>
        <mat-select formControlName="thirdCtrl" required>
          <mat-option *ngFor="let Education of Educations" [value]="Education.value">
            {{Education.viewValue}}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <td>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker3">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>End Date (Actual or Expected)</mat-label>
        <input matInput [matDatepicker]="picker4">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field>
      </td>
      </tr>
      <tr>
        <td>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Major</mat-label>
        <input matInput placeholder="Major" formControlName="thirdCtrl" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Cumulative GPA</mat-label>
        <input matInput placeholder="Cumulative GPA" formControlName="thirdCtrl" required>
        </mat-form-field>
      </td>
      </tr>
      <tr>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Skills</mat-label>
        <textarea matInput placeholder="Skills"></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Accomplishments</mat-label>
        <textarea matInput placeholder="Accomplishments"></textarea>
        </mat-form-field>
      </tr>
      </table>

        </div>

          <div style="width: 1000px; margin: auto;" >
            <mat-accordion>
              <mat-expansion-panel style = "background: #e6f1fcca;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Add Education
                  </mat-panel-title>
                </mat-expansion-panel-header>

                 <table class="example-full-width" cellspacing="0">
            <tr>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>School Name</mat-label>
          <input matInput placeholder="School Name" formControlName="thirdCtrl" required>
          </mat-form-field></tr>
          <tr>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Education level</mat-label>
          <mat-select formControlName="thirdCtrl" required>
            <mat-option *ngFor="let Education of Educations" [value]="Education.value">
              {{Education.viewValue}}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </tr>
        <tr>
          <td>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker20">
          <mat-datepicker-toggle matSuffix [for]="picker20"></mat-datepicker-toggle>
          <mat-datepicker #picker20></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>End Date (Actual or Expected)</mat-label>
          <input matInput [matDatepicker]="picker21">
          <mat-datepicker-toggle matSuffix [for]="picker21"></mat-datepicker-toggle>
          <mat-datepicker #picker21></mat-datepicker>
          </mat-form-field>
        </td>
        </tr>
        <tr>
          <td>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Major</mat-label>
          <input matInput placeholder="Major" formControlName="thirdCtrl" required>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Cumulative GPA</mat-label>
          <input matInput placeholder="Cumulative GPA" formControlName="thirdCtrl" required>
          </mat-form-field>
        </td>
        </tr>
        <tr>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Skills</mat-label>
          <textarea matInput placeholder="Skills"></textarea>
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Accomplishments</mat-label>
          <textarea matInput placeholder="Accomplishments"></textarea>
          </mat-form-field>
        </tr>
        </table>
              <mat-accordion>
                <mat-expansion-panel style = "background: #e6f1fcca;">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Add Eduaction
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                   <table class="example-full-width" cellspacing="0">
            <tr>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>School Name</mat-label>
          <input matInput placeholder="School Name" formControlName="thirdCtrl" required>
          </mat-form-field></tr>
          <tr>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Education level</mat-label>
          <mat-select formControlName="thirdCtrl" required>
            <mat-option *ngFor="let Education of Educations" [value]="Education.value">
              {{Education.viewValue}}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </tr>
        <tr>
          <td>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker22">
          <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
          <mat-datepicker #picker22></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>End Date (Actual or Expected)</mat-label>
          <input matInput [matDatepicker]="picker23">
          <mat-datepicker-toggle matSuffix [for]="picker23"></mat-datepicker-toggle>
          <mat-datepicker #picker23></mat-datepicker>
          </mat-form-field>
        </td>
        </tr>
        <tr>
          <td>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Major</mat-label>
          <input matInput placeholder="Major" formControlName="thirdCtrl" required>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Cumulative GPA</mat-label>
          <input matInput placeholder="Cumulative GPA" formControlName="thirdCtrl" required>
          </mat-form-field>
        </td>
        </tr>
        <tr>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Skills</mat-label>
          <textarea matInput placeholder="Skills"></textarea>
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Accomplishments</mat-label>
          <textarea matInput placeholder="Accomplishments"></textarea>
          </mat-form-field>
        </tr>
        </table>
                </mat-expansion-panel>

              </mat-accordion>
              </mat-expansion-panel>

            </mat-accordion>
          </div>


      <div class = "example-button">
        <table style="margin-left:auto;margin-right:auto;">
          <tr>
            <td>
      <button mat-raised-button color="primary" matStepperPrevious>Back</button></td>
      <td>
      <button mat-raised-button color="primary" matStepperNext>Next</button></td>
      </tr>
      </table>
    </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Application Questions</ng-template>
      <br>
      <br>
      <div style = "height: 2000px" class="example-container">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Do you now, or will you at any point in the future, require visa sponsorship in order to work in the U.S.? </mat-label>
        <input matInput placeholder="Yes/No" formControlName="fourthCtrl" required>
        </mat-form-field>

        <h3 class="md-title">PLEASE READ BEFORE SUBMITTING</h3>
        <p>

          I certify that the facts set forth in my application for employment have been given by me personally and are true and complete.
          False statements, answers or omissions on this application shall be sufficient cause for non-consideration of employment, or may
          result in termination if I have been employed. I agree that Wellsky shall not be liable in any respect if my application is disqualified
          or my employment terminated because of misrepresentations, omissions, or false statements or answers by me either verbally, in writing,
          or on this application.
          <br>
          I also recognize that my employment is based on receipt of satisfactory information from former employers and references, and upon my
          ability to perform the essential functions with or without reasonable accommodations for the position for which I am applying.
          <br>
          I herein authorize Wellsky or a third party to investigate without liability the information supplied in this application including
          employment references, Office of Inspector General (OIG) list, licensure/registration/certification, academic, police, and government
          records. I also authorize the employers, references, and schools, without liability, to provide any information regarding my employment
          character and qualifications upon Wellsky's request.
        </p>

        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>I have carefully read the above Information Acknowledgement and I understand and agree to all of the statements.</mat-label>
        <input matInput placeholder="Yes/No" formControlName="fourthCtrl" required>
        </mat-form-field>
        <br>

        <h3 class="md-title">U.S. Equal Opportunity Employment Information (Completion is voluntary)</h3>

        <p>
        Individuals seeking employment at WellSky are considered without regards to race, color, religion, national origin, age, sex, marital status,
        ancestry, physical or mental disability, veteran status, gender identity, or sexual orientation. You are being given the opportunity to provide
        the following information in order to help us comply with federal and state Equal Employment Opportunity/Affirmative Action record keeping,
        reporting, and other legal requirements.
        <br>
        Completion of the form is entirely voluntary. Whatever your decision, it will not be considered in the hiring process or thereafter.
        Any information that you do provide will be recorded and maintained in a confidential file.
      </p>

        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="fourthCtrl" required>
          <mat-option *ngFor="let gender of genders" [value]="gender.value">
            {{gender.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>


        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Are you Hispanic/Latino?   </mat-label>
        <input matInput placeholder="Yes/No" formControlName="fourthCtrl" required>
        </mat-form-field>
        <br>

          <p>
            If you believe you belong to any of the categories of protected veterans listed below, please indicate by making the appropriate selection.
            As a government contractor subject to Vietnam Era Veterans Readjustment Assistance Act (VEVRAA), we request this information in order to
            measure the effectiveness of the outreach and positive recruitment efforts we undertake pursuant to VEVRAA. Classification of protected
            categories is as follows:
            <br>
            A "disabled veteran" is one of the following: a veteran of the U.S. military, ground, naval or air service who is entitled to
            compensation (or who but for the receipt of military retired pay would be entitled to compensation) under laws administered by the
            Secretary of Veterans Affairs; or a person who was discharged or released from active duty because of a service-connected disability.
            <br>
            A "recently separated veteran" means any veteran during the three-year period beginning on the date of such veteran's discharge or
            release from active duty in the U.S. military, ground, naval, or air service.
            <br>
            An "active duty wartime or campaign badge veteran" means a veteran who served on active duty in the U.S. military, ground, naval or
            air service during a war, or in a campaign or expedition for which a campaign badge has been authorized under the laws administered
            by the Department of Defense.
            <br>
            An "Armed forces service medal veteran" means a veteran who, while serving on active duty in the U.S. military, ground, naval or air
            service, participated in a United States military operation for which an Armed Forces service medal was awarded pursuant to Executive
            Order 12985.
          </p>

        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Veteran Status</mat-label>
        <mat-select formControlName="fourthCtrl" required>
          <mat-option *ngFor="let veteran of veterans" [value]="veteran.value" >
            {{veteran.viewValue}}
          </mat-option>
        </mat-select>
        </mat-form-field>
        <br>

            <h3 class="md-title">Voluntary Self-Identification of Disability</h3>
            <p>
            Why are you being asked to complete this form?<br>
            Because we do business with the government, we must reach out to, hire, and provide equal opportunity to qualified people with
            disabilities1. To help us measure how well we are doing, we are asking you to tell us if you have a disability or if you ever had a
            disability. Completing this form is voluntary, but we hope that you will choose to fill it out. If you are applying for a job, any
            answer you give will be kept private and will not be used against you in any way.
            <br>
            If you already work for us, your answer will not be used against you in any way. Because a person may become disabled at any time, we
            are required to ask all of our employees to update their information every five years. You may voluntarily self-identify as having a
            disability on this form without fear of any punishment because you did not identify as having a disability earlier.
            <br>
            How do I know if I have a disability?
            You are considered to have a disability if you have a physical or mental impairment or medical condition that substantially limits a
            major life activity, or if you have a history or record of such an impairment or medical condition.
            <br>
            Disabilities include, but are not limited to:<br>

            Blindness <br>
            Deafness <br>
            Cancer <br>
            Diabetes <br>
            Epilepsy<br>
            Autism<br>
            Cerebral palsy<br>
            HIV/AIDS<br>
            Schizophrenia<br>
            Muscular dystrophy<br>
            Bipolar disorder<br>
            Major depression<br>
            Multiple sclerosis (MS)<br>
            Missing limbs or partially missing limbs<br>
            Post-traumatic stress disorder (PTSD)<br>
            Obsessive compulsive disorder<br>
            Impairments requiring the use of a wheelchair<br>
            Intellectual disability (previously called mental retardation)<br>
          </p>

          <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Disability Status</mat-label>
        <mat-select formControlName="fourthCtrl" required>
          <mat-option *ngFor="let Disability of Disabilities" [value]="Disability.value">
            {{Disability.viewValue}}
          </mat-option>
        </mat-select>
        </mat-form-field>
        </div>

      <div class = "example-button">
        <table style="margin-left:auto;margin-right:auto;">
          <tr>
            <td>
      <button mat-raised-button color="primary" matStepperPrevious>Back</button></td>
      <td>
      <button mat-raised-button color="primary" matStepperNext>Next</button></td>
      </tr>
      </table>
    </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <br>
    <br>
    <div class="center"> <h2>You are now done!</h2></div>

  <div class = "example-button">
    <table style="margin-left:auto;margin-right:auto;">
      <tr>
        <td>
  <button mat-raised-button color="primary" matStepperPrevious>Back</button></td>
  <td>
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button></td>
  </tr>
  </table>
</div>

  </mat-step>
</mat-horizontal-stepper>

