<div class="eaton mat-typography" style="overflow-x:hidden;" fxFlexFill cdkScrollable>
  <mat-toolbar color="primary" class="main-header mat-elevation-z4" [class.hidden]="toggleSearch">
    <span>
      <h1>View Applications Jobs</h1>
    </span>
    <span class="example-spacer"></span>
    <div style="position: absolute; right: 0;">
      <button mat-button routerLink="/view-posting"> View Posting </button>
      <button mat-button routerLink="/post-job"> Post Job </button>
      <button mat-button routerLink="/hr-profile">My Profile</button>
      <button mat-button routerLink="/"> Sign out </button>
    </div>
  </mat-toolbar>
</div>

<!-- NAVBAR ENDS HERE -->

<body>
  <h1 style="font-size: 1.5em; margin-bottom: 1em">View Applications</h1>
  <div>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let job of searchResault">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Job Title : {{job.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>Posted Date: {{job.startDate}}</p>
          <p>Expiration Date: {{job.expirationDate}}</p>
          <p>Candidate: </p>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th><span style="margin-left: 20px"></span>Candidate ID</th>
                  <th><span style="margin-left: 20px"></span>Candidate Rank</th>
                  <th><span style="margin-left: 20px"></span>Application Date</th>
                  <th><span style="margin-left: 20px"></span>Status</th>
                </tr>
              </thead>
              <tbody style="margin-left: 20px">
                <tr *ngFor="let can of job.candidate">
                  <td><span style="margin-left: 20px"></span>{{can.candidate_id}}</td>
                  <td><span style="margin-left: 20px"></span>{{ can.rank}}</td>
                  <td><span style="margin-left: 20px"></span>{{ can.applyDate}}</td>
                  <td><span style="margin-left: 20px"></span>{{ can.status }}</td>
                  <td><span style="margin-left: 20px"></span>
                    <button mat-raised-button color="primary" (click)="viewCanAppForm(can, job)">View</button>
                  </td>
                  <!-- <td><span style="margin-left: 20px"></span>
                    <button mat-raised-button color="primary" routerLink="/jobappform" (click)="applyJob(j)">Not Consider</button>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>
  </div>

</body>
