<div mat-dialog-content>
    <div (ngModel) = "jobInfo" >
        <h3>{{jobInfo.title}}</h3>  
        <p>compmany</p>
        <p>{{jobInfo.company}}</p>
        <p>job type</p>
        <p>{{jobInfo.jobType}}</p>
        <p>expiration date</p>
        <p>{{jobInfo.expirationDate}}</p>
        <p>location</p>
        <p>{{jobInfo.location}}</p>
        <p>industry</p>
        <p>{{jobInfo.industryType}}</p>
        <p>hr info(if you want to apply, user this info) </p>
        <p>{{jobInfo.hr_id}}</p>
        <p>Job Description</p>
        <p>{{jobInfo.jobDescription}}</p>
    </div>
</div>

<div>
<button mat-raised-button (click)="onNoClick()">Close</button>
</div>