<div mat-dialog-content>
    <div >
        <h3>{{title}}</h3>  
        <p>compmany</p>
        <p>{{company}}</p>
        <p>job type</p>
        <p>{{jobType}}</p>
        <p>expiration date</p>
        <p>{{expirationDate}}</p>
        <p>location</p>
        <p>{{location}}</p>
        <p>industry</p>
        <p>{{industryType}}</p>
        <p>hr info(if you want to apply, user this info) </p>
        <p>{{hr_id}}</p>
        <p>Job Description</p>
        <p>{{jobDescription}}</p>
    </div>
</div>

<div>
<button mat-raised-button (click)="onNoClick()">Close</button>
</div>