.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

td {
  padding-right: 8px;
}

.example-container {
  width: auto;
  height: auto;
  margin: auto;
  padding: 10px;
}

.example-full-width {
  width: 100%;
}

.dialog{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  }

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

header{
  position: fixed;
  top: 0;
   z-index: 11;
  transition: all 250ms ease-in-out;
}
.main-header{
  @extend header;
  &.hidden{
    opacity: 0;
  }
}
.search-block{
  width: 0%;
  right: 0;
  @extend header;
  background: #fff;
  &.active{
    width: 100%;
  }
  .search-control{
    flex: 1;
    font-size: 1rem;
    border: 0;
    outline: none;
    padding-left: 10px;
    width: 100%;
  }
}
