<div class="eaton mat-typography" style="overflow-x:hidden;" fxFlexFill cdkScrollable>
 <mat-toolbar color="primary" class="main-header mat-elevation-z4" [class.hidden]="toggleSearch">
  <mat-toolbar-row >
    <span><h1>Job Solutions</h1></span>
    <span class="example-spacer"></span>
  <div>

      <a mat-button [routerLink]=""> Jobs </a>
      <a mat-button [routerLink]=""> Employers </a>
      <button mat-button [matMenuTriggerFor]="menu">My Profile</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Applications</button>
        <button mat-menu-item>MyFav Jobs</button>
      </mat-menu>


    </div>
  </mat-toolbar-row>

  <mat-toolbar-row style="padding: 0 5px;">
    <span><h2>Job Search</h2></span>
  </mat-toolbar-row>

  <mat-toolbar-row style="padding: 0 5px;">
    <button mat-icon-button>
    <mat-icon>menu</mat-icon>
     </button>
  <div style="padding:8px 0 0 10px; flex:3;">
   <input class="search-control" type="text" size="50" placeholder="Job Title, Employer, Keyword"
    [(ngModel)]="searchText" #searchbar>
  </div>

  <button mat-icon-button  (click)="openSearch()">
      <mat-icon>search</mat-icon>
  </button>
</mat-toolbar-row>

<mat-toolbar-row style="padding: 0 5px;">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filters
      </mat-panel-title>

    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Job Type</mat-label>
      <mat-select [formControl]="jobtype" multiple>
      <mat-select-trigger>
      {{jobtype.value ? jobtype.value[0] : ''}}
      <span *ngIf="jobtype.value?.length > 1" class="example-additional-selection">
        (+{{jobtype.value.length - 1}} {{jobtype.value?.length === 2 ? 'other' : 'others'}})
      </span>
      </mat-select-trigger>
      <mat-option *ngFor="let jobtype of jobtypeList" [value]="jobtype">{{jobtype}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Location</mat-label>
      <mat-select [formControl]="location" multiple>
      <mat-select-trigger>
      {{location.value ? location.value[0] : ''}}
      <span *ngIf="location.value?.length > 1" class="example-additional-selection">
        (+{{location.value.length - 1}} {{location.value?.length === 2 ? 'other' : 'others'}})
      </span>
      </mat-select-trigger>
      <mat-option *ngFor="let location of locationList" [value]="location">{{location}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Industry</mat-label>
      <mat-select>
        <mat-option *ngFor="let industry of industries" [value]="industry.value">
          {{industry.viewValue}}
        </mat-option>
      </mat-select>
      </mat-form-field>


  </mat-expansion-panel>

</mat-toolbar-row>

</mat-toolbar>

</div>

<div class="album py-5 bg-light">
  <div class="container">

      <div class="row">
          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="100"
                      xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                      role="img" aria-label="Placeholder: Thumbnail">
                      <title>Placeholder</title>
                      <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                          dy=".3em">111111</text>
                  </svg> -->
                  <img src="../../assets/google.jpg" alt="example image" class="bd-placeholder-img card-img-top" width="100%" height="100">
                  <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional
                          content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Apply</button>
                          </div>
                          <small class="text-muted">9 mins</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="100"
                      xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                      role="img" aria-label="Placeholder: Thumbnail">
                      <title>Placeholder</title>
                      <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                          dy=".3em">Thumbnail</text>
                  </svg> -->
                  <img src="../../assets/amazon.jpg" alt="example image" class="bd-placeholder-img card-img-top" width="100%"
                      height="100">
                  <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional
                          content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Apply</button>
                              <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                          </div>
                          <small class="text-muted">9 mins</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="100"
                      xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                      role="img" aria-label="Placeholder: Thumbnail">
                      <title>Placeholder</title>
                      <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                          dy=".3em">Thumbnail</text>
                  </svg> -->
                  <img src="../../assets/apple.jpg" alt="example image" class="bd-placeholder-img card-img-top" width="100%"
                      height="100">
                  <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional
                          content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Apply</button>
                              <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                          </div>
                          <small class="text-muted">9 mins</small>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="100"
                      xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                      role="img" aria-label="Placeholder: Thumbnail">
                      <title>Placeholder</title>
                      <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                          dy=".3em">Thumbnail</text>
                  </svg>
                  <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional
                          content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Apply</button>
                              <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                          </div>
                          <small class="text-muted">9 mins</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="100"
                      xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                      role="img" aria-label="Placeholder: Thumbnail">
                      <title>Placeholder</title>
                      <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                          dy=".3em">Thumbnail</text>
                  </svg>
                  <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional
                          content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Apply</button>
                              <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                          </div>
                          <small class="text-muted">9 mins</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="100"
                      xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                      role="img" aria-label="Placeholder: Thumbnail">
                      <title>Placeholder</title>
                      <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                          dy=".3em">Thumbnail</text>
                  </svg>
                  <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional
                          content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Apply</button>
                              <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                          </div>
                          <small class="text-muted">9 mins</small>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="100"
                      xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                      role="img" aria-label="Placeholder: Thumbnail">
                      <title>Placeholder</title>
                      <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                          dy=".3em">Thumbnail</text>
                  </svg>
                  <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional
                          content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Apply</button>
                              <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                          </div>
                          <small class="text-muted">9 mins</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="100"
                      xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                      role="img" aria-label="Placeholder: Thumbnail">
                      <title>Placeholder</title>
                      <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                          dy=".3em">Thumbnail</text>
                  </svg>
                  <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional
                          content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Apply</button>
                              <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                          </div>
                          <small class="text-muted">9 mins</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="100"
                      xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                      role="img" aria-label="Placeholder: Thumbnail">
                      <title>Placeholder</title>
                      <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                          dy=".3em">Thumbnail</text>
                  </svg>
                  <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional
                          content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Apply</button>
                              <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                          </div>
                          <small class="text-muted">9 mins</small>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ////// -->
