<!doctype html>
<html lang="en">

  <head></head>

  <body class="bg-light" data-gr-c-s-loaded="true">
    <div class="container">
  <div class="py-5 text-center">
    <h2>Application form</h2>
    <p class="lead">Fill the required information to proceed to next step</p>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <h4 class="mb-3">Work Experience</h4>
      <form class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="jobtitle">Job Title</label>
            <input type="text" class="form-control" id="jobtitle" placeholder="" value="" required="">
          </div>
          <div class="col-md-6 mb-3">
            <label for="company">Company</label>
            <input type="text" class="form-control" id="company" placeholder="" value="" required="">
          </div>
        </div>

        <div class="mb-3">
          <label for="loaction">Location </label>
          <input type="text" class="form-control" id="loaction" placeholder="">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="from">From</label>
            <input type="text" class="form-control" id="from" placeholder="MM/YYYY" value="" required="">
          </div>

          <div class="col-md-5 mb-3">
            <div class="checkbox">
              <label><input type="checkbox" name="remember"> Remember me</label>
            </div>
          </div>


          <div class="col-md-5 mb-3">
            <label for="to">To</label>
            <input type="text" class="form-control" id="to" placeholder="MM/YYYY" value="" required="">
          </div>
        </div>

        <div class="mb-3">
          <label for="role">Role Description</label>
          <textarea rows = 6 class="form-control" id="role" placeholder="" > </textarea>
        </div>

        <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Add more work experience</a>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Cancel</button>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Save and Continue</button>
      </form>
    </div>
   </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">HR Solutions</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
  </div>

  </body>
</html>


