<div class="eaton mat-typography" style="overflow-x:hidden;" fxFlexFill cdkScrollable>
  <mat-toolbar color="primary" class="main-header mat-elevation-z4" [class.hidden]="toggleSearch">
   <mat-toolbar-row >
    <span><h1>Job Solutions</h1></span>
     <span class="example-spacer"></span>
   <div>
       <a mat-button routerLink="/jobspage"> Jobs </a>
       <a mat-button [routerLink]=""> Employers </a>
       <button mat-button [matMenuTriggerFor]="menu">My Profile</button>
       <mat-menu #menu="matMenu">
         <button mat-menu-item routerLink="/cand-profile">Profile</button>
         <button mat-menu-item routerLink="/applications">Applications</button>
         <button mat-menu-item routerLink="/myfavjob">MyFav Jobs</button>
         <button mat-menu-item routerLink="/">Logout</button>
       </mat-menu>
     </div>
   </mat-toolbar-row>

  <mat-toolbar-row style="padding: 0 5px;">
    <span><h2>My Favorite Jobs</h2></span>
  </mat-toolbar-row>
</mat-toolbar>
</div>
 <br>
 <p> Only display the jobs which are listed as fav by this user</p>

 <h1 style="font-size: 15px">Search Result:</h1>
 <ul *ngFor =" let k of id_array">
     <li>{{k.job_title}}</li>
 </ul>
<!-- 
        <table class="table">
            <thead>
                <tr>
                    <th><span style="margin-left: 20px"></span>Job Title</th>
                    <th><span style="margin-left: 20px"></span>Job type</th>
                    <th><span style="margin-left: 20px"></span>location</th>
                    <th><span style="margin-left: 20px"></span>Industry type</th>
                    <th><span style="margin-left: 20px"></span>Company</th>
                    <th><span style="margin-left: 20px"></span>Job Expiration Date</th> 
                    <th><span style="margin-left: 20px"></span>Application Date</th>
                    <th><span style="margin-left: 20px"></span>View</th>
                </tr>
            </thead>
            <tbody style="margin-left: 20px">
                <tr *ngFor="let j of favResult">
                    <td><span style="margin-left: 20px"></span>{{ j.job_title }}</td>
                    <td><span style="margin-left: 20px"></span>{{ j.job_type }}</td> 
                    <td><span style="margin-left: 20px"></span>{{ j.job_location }}</td>
                    <td><span style="margin-left: 20px"></span>{{ j.job_industryType }}</td> 
                    <td><span style="margin-left: 20px"></span>{{ j.job_company }}</td>
                    <td><span style="margin-left: 20px"></span>{{ j.job_expirationDate }}</td>
                    <td> <button mat-raised-button color="primary" (click)= "openDialog(j)">View</button></td>
                </tr>
            </tbody>
        </table> -->

<p>Once the data is retrived properly, try to populate into the below HTML </p>
 


