<nav class="navbar  navbar-expand bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li style="margin-right: 20px; margin-left: 30px;">
        <button type="button" class="btn btn-primary" routerLink="/hr-profile">Home</button>
      </li>
    </ul>
    
    <div style="align-content:end;">
      <button type="button" class="btn btn-primary" style="margin-right:10px">Edit Profile</button>
      <button type="button" class="btn" style="background-color:#f7ae00">Sign Out</button>
    </div>

  </div>
</nav>

<!-- NAVBAR ENDS HERE -->

<!-- <mat-horizontal-stepper linear #stepper style="width:70%; align-items:center; display:inline"> -->
  <!-- put "required" in input-->
  <!-- <mat-step [stepControl]="firstFormGroup"> -->
    <!-- <form [formGroup]="firstFormGroup" > -->
        <div style="width: 50%">
    <form (submit)="update(hrForm)" #hrForm="ngForm">
      <!-- <ng-template >Personal Information</ng-template> -->
    
      <mat-card style="margin-top: 2em">
        <mat-label>Personal Information</mat-label>
        <table class="example-full-width" cellspacing="2">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput name="firstname">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput name="lastname">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <mat-form-field class="example-full-width">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+1 &nbsp;</span>
          <input type="tel" matInput placeholder="555-555-1234" name="phone">
        </mat-form-field>

        <!-- <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="+1" name="phone">
        </mat-form-field> -->

        <mat-form-field class="example-full-width">
          <mat-label>Title at Work</mat-label>
          <input matInput placeholder="Software Engineer" name="title">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Company</mat-label>
          <input matInput placeholder="Apple"  name="company">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Since</mat-label>
          <input matInput placeholder="May 2016 " type="date" name="startDate">
        </mat-form-field>
      </mat-card>

      <!-- <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div> -->
    <!-- </form> -->
  <!-- </mat-step> -->

  <!-- <mat-step [stepControl]="secondFormGroup" errorMessage="Missing required fields."> -->
    
    <!-- <form [formGroup]="secondFormGroup"> -->
      <!-- <ng-template >Notes</ng-template> -->
    
      <mat-card style="margin-top: 2em">
        <mat-label>Note</mat-label>
        <p>
          <mat-form-field class="example-full-width" >
            <mat-label>Put your notes here:</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </p>
      </mat-card>

      <!-- <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div> -->
    <!-- </form> -->
  <!-- </mat-step> -->



  <!-- <mat-step [stepControl]="thirdFormGroup" errorMessage="Missing required fields."> -->
    <!-- <form [formGroup]="thirdFormGroup"> -->
     

      <mat-card style="margin-top: 2em">
        <mat-label>Contacts</mat-label>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Add you contacts here:</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </p>
      </mat-card>

      <!-- <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div> -->

    </form>
    </div>
  <!-- </mat-step> -->




  <!-- <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step> -->


<!-- </mat-horizontal-stepper> -->
