<header>
  <mat-toolbar color=primary>
    <span>My Job Postings</span>
  </mat-toolbar>
</header>

<body>
  <div>
    <p>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Khaled Akhter</mat-card-title>
          <mat-card-subtitle>Junior Software Engineer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align=center>
          <button mat-button>View Resume</button>
        </mat-card-actions>
      </mat-card>
    </p>

    <p>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Jason Dooly</mat-card-title>
          <mat-card-subtitle>Software Engineering Intern</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align=center>
          <button mat-button>View Resume</button>
        </mat-card-actions>
      </mat-card>
    </p>
  </div>
</body>
