<!--<div mat-dialog-content>
    <div (ngModel) = "data" >
        <h3>{{data.job_title}}</h3>  
        <p>{{data.company}}</p>
        <p>{{data.jobType}}</p>
        <p>{{data.location}}</p>
        <p>{{data.industryType}}</p>
        <p>Job Description</p>
        <p>{{data.jobDescription}}</p>
    </div>
</div>

<div>
<button mat-raised-button (click)="onNoClick()">Close</button>
</div>-->

<div mat-dialog-content>
    <div >
        <h3>Title : {{title}}</h3>  
        <p>Company : {{company}}</p>
        <p>Status : {{status}}</p>
    </div>
</div>

<div>
<button mat-raised-button (click)="onNoClick()">Close</button>
</div>

