<mat-accordion> 
    <mat-expansion-panel *ngFor = "let review of reviews"> 
        <mat-expansion-panel-header>
            Review
        </mat-expansion-panel-header>
        <p>{{ review.firstName }}</p>
        <p>{{ review.lastName }}</p>
        <p>{{ review.telephone }}</p>
        <p>{{ review.email }}</p>
        <p>{{ review.address }}</p>
        <p>{{ review.address2 }}</p>
        <p>{{ review.city }}</p>
        <p>{{ review.state }}</p>
        <p>{{ review.zipcode }}</p>

        <p>{{ review.job }}</p>
        <p>{{ review.company }}</p>
        <p>{{ review.location }}</p>
        <p>{{ review.fromDate }}</p>
        <p>{{ review.toDate }}</p>
        <p>{{ review.role }}</p>

        <p>{{ review.school }}</p>
        <p>{{ review.level }}</p>
        <p>{{ review.StartDate }}</p>
        <p>{{ review.EndDate }}</p>
        <p>{{ review.major }}</p>
        <p>{{ review.gpa }}</p>
        <p>{{ review.skills }}</p>
        <p>{{ review.accomplishments }}</p> 
    </mat-expansion-panel>
</mat-accordion>


     