<h2>Job Description</h2>

<button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon" (click) = "addFav()">
  <mat-icon>favorite_border</mat-icon>
</button>

<div mat-dialog-content>
      <div (ngModel) = "data" >
          <p>{{data.jobTitle}}</p>
          <p>{{data.jobType}}</p>
          <p>{{data.location}}</p>
          <p>{{data.industryType}}</p>
          <p>{{data.jobDescription}}</p>
      </div>
</div>

<div>
  <button mat-raised-button (click)="onNoClick()">Close</button>
</div>

